@keyframes typing {
    from {width: 0}
    to {width: 13ch}
}

@keyframes blink {
    50% {border-color: transparent}
}

.typing {
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    width: 0;
    border-right: 3px solid white; 
    animation: typing 1.5s steps(13, end) forwards, blink 1s step-end infinite;
}